{% extends "portal/basic.html" %} {% load crispy_forms_tags %} {% block body %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<style>
    .col-md-3 {
        display: inline-block;
        margin-left: -4px;
    }
    
    .carousel-indicators .active {
        background-color: blue;
    }
    
    .col-md-3 img {
        width: 255px;
        height: 355px;
    }
    
    body .carousel-indicator li {
        background-color: blue;
    }
    
    body .carousel-indicators {
        bottom: 0;
    }
    
    body .carousel-control-prev-icon,
    body .carousel-control-next-icon {
        background-color: blue;
    }
    
    body .no-padding {
        padding-left: 0;
        padding-right: 0;
    }
    
    .carousel-control-next,
    .carousel-control-prev {
        top: auto;
        bottom: auto;
    }
    
    body .carousel-control-prev-icon,
    body .carousel-control-next-icon {
        background-color: blue;
        margin-top: 222px;
    }
</style>

<div class="container mt-3">
    <table class="table table-striped">
        <thead>
            <tr class="bg-success">
                <th scope="col" style="font-size:24px">#</th>
                <th scope="col" style="font-size:24px">COMPANY NAME</th>
                <th scope="col" style="font-size:24px">DATE OF ARRIVAL&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i></th>
                <th scope="col" style="font-size:24px">INFO</th>
                <th scope="col" style="font-size:24px">ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% for c in company %}
            <tr>
                <th scope="row">{{c.c_id}}</th>
                <td style="font-size:20px">{{c.c_name}}</td>
                <td style="font-size:20px">{{c.doa}}</td>
                <td>
                    <a href="/viewdetails/{{c.c_id}}" class="btn btn-primary">View Details</a>
                </td>
                <td>
                    <a href="#"><span><i class="fa fa-edit" style="font-size:30px;color:purple" aria-hidden="true"></i></span></a>&nbsp;&nbsp;
                    <a href="/delete/{{c.c_id}}"><span><i class="fa fa-trash" style="font-size:30px;color:maroon" aria-hidden="true"></i></span></a>&nbsp;&nbsp;
                    <a href="/addshortlist/{{c.c_id}}" class="btn btn-secondary"> Add Shortlist</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}